@tailwind base;
@tailwind components;
@tailwind utilities;





    .dropDownProfile{
        position: absolute;
        top:4.5rem;
        right: 1rem;
        width:auto;
        padding: 15px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #737373;
    }

    .dropDownProfile::before {
        content:'';
        position: absolute;
        top:-0.68rem;
        right:1.1rem;
        width: 20px;
        height: 20px;
        transform:rotate(45deg);
        background-color: white;
        border-left: 1px solid #737373;
        border-top: 1px solid #737373;
    }
